<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row align-items-center justify-content-center mt-5">
      <div class="d-flex gap-4 justify-content-between col-8">
        <div class="col-5">
          <%- include('../partials/forms'); %>
        </div>
        <div class="col-5">
          <%- include('../partials/listNames', {listPeople: listPeople}); %>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-center">
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>